*.pyc
__pycache__
db.sqlite3
media/
.idea/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.env
.venv
env/
venv/
ENV/
celerybeat-schedule
celerybeat.pid